.raw {

    color: red;
    background: peachpuff;
    border: 4px solid brown;
    height: 40px;
     flex: 1; 

  }

.passedRaw {

    color: rgb(0, 153, 255);
    background: rgb(101, 231, 210);
    border: 4px solid rgb(18, 6, 179);
    height: 40px;
     flex: 1; 

  }



.column {
    display: flex;
    /* color: red;
    background: peachpuff;
    border: 4px solid brown;
    height: 50px;
     flex: 1;  */

  }

